﻿@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
<br />

<ul>
    <li>Genre: @Model.Genre.Name</li>
    <li>Release Date: @Model.ReleaseDate.ToString("dddd, MMMM d, yyyy")</li>
    <li>Date Added: @Model.DateAdded.ToString("dddd, MMMM d, yyyy")</li>
    <li>Number in Stock: @Model.NumberInStock</li>
</ul>