﻿@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<br />
@Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })<br />&nbsp;

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null || Model.Count() == 0)
            {
            <tr><td colspan="2">No movies found.</td></tr>
        }
        else
        {
            foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Title, "Edit", "Movies", new { Id = movie.Id }, null)</td>
                    <td>@movie.Genre.Name</td>
                </tr>
            }
        }
    </tbody>
</table>