﻿@model Vidly.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

    var title = (Model.Id == 0 ? "New Movie" : "Edit Movie");
}

<h2>@title</h2>

@using (Html.BeginForm("Save", "Movies"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(a => a.Title)
        @Html.TextBoxFor(a=> a.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.GenreId)
        @Html.DropDownListFor(a => a.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select a genre...", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GenreId)
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.ReleaseDate)
        @Html.TextBoxFor(a => a.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.NumberInStock)
        @Html.TextBoxFor(a => a.NumberInStock, new { @class = "form-control", @style = "width: 50px" })
        @Html.ValidationMessageFor(m => m.NumberInStock)
    </div>
    @Html.HiddenFor(a => a.Id)
    @Html.AntiForgeryToken()
    <button class="btn btn-primary" type="submit">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}