﻿@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<br />
@Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })<br />&nbsp;

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null || Model.Count() == 0)
            {
            <tr><td>No customers found.</td></tr>
        }
        else
        {
            foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { Id = customer.Id }, null)</td>
                    <td>@customer.MembershipType.Name</td>
                </tr>
            }
        }
    </tbody>
</table>